.App {
    font-family: sans-serif;
    text-align: left;
    padding: 20px;
}


.file {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 5px;
}

.folder {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}


.file-name {
    margin-left: 8px;
}

.folder-name{
    margin-left: 8px;
    font-size: 16px;
    font-weight: 700;
}

.folder-content {
    padding-left: 20px;
}

.toggle-icon{
    margin-top: 2px;
}

.toggle{
    display: flex;
    margin-top: 8px;
}

p {
    margin: 0;
}